# Ignore Python cache and logs
__pycache__/
*.py[cod]
*.log

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system/junk files
.DS_Store
Thumbs.db

# Ignore Visual Studio Code project files
.vscode/

# Ignore Excel and CSV files (optional if not needed in repo)
*.xlsx
*.csv

# Ignore environment files (if you use any)
.env
